<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>Woo Lab at MGH/Harvard</p>


		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
		  Funding:<br />
      		  - NIH NIDCD <br />
		  - NIH NINDS <br />
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Nashua 125, Suite 660<br />
		  Boston, MA<br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
