<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">

		  <p>&copy Woo Lab at MGH/Harvard. Modified from Allan Lab template.</p>


		   <p>  </p><p>


		</div>
		<div class="col-sm-4">
		  Affiliated:<br />
      		  - MGH, <a href="https://www.massgeneral.org/imaging">Radiology</a>  <br />
		  - MGH, <a href="https://gordon.mgh.harvard.edu/">Gordon Center for Medical Imaging</a>  <br />
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Nashua 125, Suite 660<br />
		  Boston, MA<br />
		(<a href="https://maps.app.goo.gl/6sxYYTdoECJKvzDw6">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
